---
import ArrowCard from "../components/ArrowCard.astro";
import Hero from "../components/Hero.astro";
import Layout from "../layouts/Layout.astro";

type Chapter = {
	chapter: string | null;
	title: string;
	slug: string;
};

// Data chapters yang berisi setiap bab sebagai item terpisah, dengan beberapa bab tanpa angka Romawi
const chapters: Chapter[] = [
	{
		chapter: null,
		title: "Kata Pengantar",
		slug: "segera-hadir",
	},
	{
		chapter: null,
		title: "Makanan baik bagi keluarga",
		slug: "segera-hadir",
	},
	{
		chapter: "I",
		title: "Masakan Papeda, Keladi dan Nasi",
		slug: "papeda-keladi-nasi",
	},
	{ chapter: "II", title: "Masakan Sup", slug: "segera-hadir" },
	{
		chapter: "III",
		title: "Masakan Ikan, Bia, Ulat sagu",
		slug: "segera-hadir",
	},
	{
		chapter: "IV",
		title: "Masakan Kacangan, Tempe dan Tahu",
		slug: "masakan-kacangan-tempe-tahu",
	},
	{ chapter: "V", title: "Masakan Telur", slug: "segera-hadir" },
	{ chapter: "VI", title: "Masakan Daging", slug: "segera-hadir" },
	{ chapter: "VII", title: "Sayur-sayuran", slug: "segera-hadir" },
	{
		chapter: "VIII",
		title: "Sambal dan lauk pauk lainnya",
		slug: "segera-hadir",
	},
	{ chapter: "IX", title: "Kue - kue", slug: "segera-hadir" },
	{
		chapter: "X",
		title: "Masakan macam-macam bubur",
		slug: "segera-hadir",
	},
	{
		chapter: null,
		title: "Daftar isi terperinci",
		slug: "daftar-isi",
	},
];
---

<Layout
	title="Dapoer Papoea: Resep Tradisional Papua"
	description="Selamat datang di Dapoer Papoea. Temukan berbagai resep masakan tradisional khas Papua, mulai dari masakan papeda hingga kue-kue dan sambal, serta panduan makanan sehat untuk keluarga Anda."
>
	<main>
		<Hero />
		<section
			class="max-w-screen-lg mx-auto animate space-y-6 px-4 md:px-24 lg:px-8 py-8 md:py-16"
		>
			<h2 class="text-2xl md:text-3xl font-semibold text-black">
				Daftar Isi
			</h2>

			<ul class="not-prose flex flex-col gap-4">
				{
					chapters.map((chapter) => (
						<li class="space-y-1">
							<ArrowCard
								entry={{
									collection: "daftar-isi",
									slug: chapter.slug,
									data: {
										title: chapter.chapter
											? `${chapter.chapter}. ${chapter.title}`
											: chapter.title,
										description: chapter.chapter
											? `Lihat resep untuk ${chapter.title}`
											: `Baca ${chapter.title}`,
									},
								}}
							/>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</Layout>
