---
import chapters from "../data/chapters.json";
import ArrowCard from "../components/ArrowCard.astro";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";

const chapterData = chapters.map((chapter) => ({
	...chapter,
	collection: chapter.type === "category" ? "daftar-isi" : null,
}));
---

<Layout
	title="Resep Masak Tradisional Khas Papua"
	description="Kumpulan resep autentik dari tanah Papua untuk berbagai jenis masakan tradisional."
>
	<main>
		<Hero />
		<section
			class="max-w-screen-lg mx-auto space-y-6 px-4 md:px-24 lg:px-8 py-8 md:py-12"
		>
			<h2 class="text-2xl md:text-3xl font-semibold text-black">
				Daftar Isi
			</h2>
			<ul class="not-prose flex flex-col gap-4">
				{
					chapterData.map((chapter) => (
						<li>
							<ArrowCard
								entry={{
									collection:
										chapter.type === "category"
											? "daftar-isi"
											: null,
									slug: chapter.slug,
									data: {
										title: chapter.chapter
											? `${chapter.chapter}. ${chapter.title}`
											: chapter.title,
										description:
											chapter.type === "category"
												? `Lihat daftar resep untuk ${chapter.title}`
												: `Baca ${chapter.title}`,
									},
								}}
							/>
						</li>
					))
				}
				<li>
					<ArrowCard
						entry={{
							collection: null,
							slug: "daftar-isi",
							data: {
								title: "Daftar Isi Terperinci",
								description:
									"Lihat semua resep yang tersedia dan dipisahkan berdasarkan kategori.",
							},
						}}
					/>
				</li>
			</ul>
		</section>
	</main>
</Layout>
