---
import { ViewTransitions } from "astro:transitions";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<meta charset="UTF-8" />
<meta name="description" content={description} />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/svg+xml" href="/gambar/logo_dapoerpapoea.png" />
<meta name="generator" content={Astro.generator} />
<title>{title} — Dapoer Papoea</title>

<!-- Full site view transitions -->
<ViewTransitions />

<!-- Bunny Fonts -->
<link rel="preconnect" href="https://fonts.bunny.net" />
<link
  href="https://fonts.bunny.net/css?family=laila:400,500,600|comforter:400"
  rel="stylesheet"
/>
