<!-- ========== FOOTER ========== -->
<footer
  class="mt-auto w-full max-w-screen-lg py-10 px-4 sm:px-6 lg:px-8 mx-auto"
>
  <div class="pt-5 mt-5 border-t border-gray-200">
    <div class="sm:flex sm:justify-between sm:items-center">
      <div class="flex flex-wrap items-center gap-3">
        <p class="text-sm text-gray-600">
          © 2024
          <a
            class="inline-flex gap-x-2 text-gray-600 hover:text-gray-800 focus:outline-none focus:text-gray-800 hover:underline"
            href="#">Papua Open Source</a
          >
        </p>
      </div>
      <!-- End Col -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
